{{define "navbar_html"}}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/dashboard" class="nav-link"><i class="fa fa-home"></i></a>
      </li>
    </ul>

    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-select-company">
      <i class="fa fa-building-o mr-1"></i> 
      {{if not .dropdownSelectedCompany}}
        Select Company
      {{else}}
        {{if ne .dropdownSelectedCompany.Name ""}}
          {{truncate .dropdownSelectedCompany.Name 10}}
        {{end}}
      {{end}}
    </button>
    <!-- SEARCH BAR -->
    <div id="navbar-search-bar" class="form-inline ml-3 dropdown">
      <div class="input-group input-group-sm">
        <input id="input-navbar-search" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div id="navbar-search-dropdown" class="dropdown-menu dropdown-menu-lg dropdown-menu-left"></div>
    </div>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-comments-o"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="/assets/img/logo.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="/assets/img/logo.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="/assets/img/logo.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fa fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="fa fa-clock-o mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-bell-o"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-cogs"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="/dashboard/profile/edit" class="dropdown-item">
            <i class="fa fa-user mr-2"></i> Edit profile
          </a>
          <div class="dropdown-divider"></div>
          <a href="/dashboard/invite/incoming" class="dropdown-item">
            <i class="fa fa-inbox mr-2"></i> My Invites
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-cog mr-2"></i> Settings
          </a>
          <div class="dropdown-divider"></div>
          <form id="logout-form" action="/logout" method="post">
            {{ .csrfField }}
            <button type="submit" class="dropdown-item"><i class="fa fa-sign-out mr-2"></i> Logout</button>
          </form>
      </li>
    </ul>
</nav>
<div class="modal fade-scale" id="modal-select-company" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select company</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <table class="table table-condensed">
            <tbody>
              {{with $dropdownCompany := .dropdownCompanies}}
              {{range $dropdownCompany}}
              <tr>
                <td><a href="/dashboard/company/{{.ID}}/show">{{.Name}}</a></td>
                <td>
                  {{if $.dropdownSelectedCompany}}
                    {{if eq .ID $.dropdownSelectedCompany.ID}}
                    <button class="btn btn-default" data-id="{{ .ID }}" disabled>
                      <i class="fa fa-check-circle mr-1" style="color:green"></i>  
                      Selected
                    </button>
                    {{else}}                 
                    <button class="btn btn-default btn-dropdown-select-company" data-id="{{ .ID }}">Select</button>
                    {{end}}
                  {{else}}                    
                  <button class="btn btn-default btn-dropdown-select-company" data-id="{{ .ID }}">Select</button>
                  {{end}}
                </td>
              </tr>
              {{end}}
              {{end}}
            </tbody>
          </table>
          <form id="select-company-form" method="post" hidden>{{ .csrfField }}</form>
        </div>  
        <div class="mb-2 text-center">
          <a href="/dashboard/company">New company? Click here for more...</a>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.navbar -->
{{end}}