{{define "dashboard_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {{ template "navbar_html" .}}
  
    {{ template "aside_html" .}}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>Dashboard</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <div class="card-body">                  
                  <div class="" id="dashboard-posts"></div>
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{ template "footer_html" .}}
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  {{template "flash_html" .}}
</body>

<!-- Javascript -->
<script type="text/javascript" src="/assets/js/dashboard/custom.dashboard.js?{{.appVersion}}"></script>
</html>
{{end}}