{{define "_company_detail_html"}}
{{with $comp := .company}}
<div class="">
  {{ if .isAdmin }}
  <div class="mb-2">
    <button class="btn btn-default" id="btn-edit-company" data-url="/dashboard/company/{{ .ID }}/update">Edit</button>    
    <button class="btn btn-danger" id="btn-delete-company" data-url="/dashboard/company/{{ .ID }}/delete">Delete</button>
  </div>
  {{ end }}
  <div class="">
    
    <label>Company</label>
    
    <p class="text-muted">
      {{ .Name }}
    </p>
    
    <hr>

    <label>URL</label>
    
    <p class="text-muted">
      {{ $.companyURL }}
    </p>
    
    <hr>
    
    <label>Description</label>
    
    <p class="text-muted">
      {{ .Description }}
    </p>
    
    <hr>
    
    <label>Email</label>
    
    <p class="text-muted">
      {{ .Email }}
    </p>
    
    <hr>
    
    <label>Phone</label>
    
    <p class="text-muted">
      {{ .Phone }}
    </p>
    
    <hr>
    
    <label>Fax No.</label>
    
    <p class="text-muted">
      {{ .Fax }}
    </p>
    
    <hr>
    
    <label>Address</label>
    
    <p class="text-muted">
      {{ .Address | NL2BR | safeHTML }}
    </p>
    
    
  </div>
</div>
{{ end }}
{{ if .isAdmin }}
<div class="modal fade-scale" id="modal-create-edit-company" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-create-edit-company-title">Edit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        {{ template "_company_form_html" .}}
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{{ end }}
{{ end }}