{{define "_company_detail_html"}}
{{with $comp := .company}}
<div class="">
  <div class="mb-2">
    <button class="btn btn-default" id="btn-edit-company" data-url="/dashboard/company/{{ .ID }}/update">Edit</button>    
    <button class="btn btn-danger" id="btn-delete-company" data-url="">Delete</button>
  </div>
  <div class="">
    
    <label>Company</label>
    
    <p class="text-muted">
      {{ .Name }}
    </p>
    
    <hr>

    <label>URL</label>
    
    <p class="text-muted">
      {{ $.companyURL }}
    </p>
    
    <hr>
    
    <label>Description</label>
    
    <p class="text-muted">
      {{ .Description }}
    </p>
    
    <hr>
    
    <label>Email</label>
    
    <p class="text-muted">
      {{ .Email }}
    </p>
    
    <hr>
    
    <label>Phone</label>
    
    <p class="text-muted">
      {{ .Phone }}
    </p>
    
    <hr>
    
    <label>Fax No.</label>
    
    <p class="text-muted">
      {{ .Fax }}
    </p>
    
    <hr>
    
    <label>Address</label>
    
    <p class="text-muted">
      {{ .Address }}
    </p>
    
    
  </div>
</div>
{{ end }}
{{ end }}