{{define "company_index_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {{ template "navbar_html" .}}
  
    {{ template "aside_html" .}}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>{{.title}}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-success" id="btn-create-company" data-url="{{ .createURL }}">Create</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Company</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{with $comp := .companies}}
                      {{range $comp}}
                      <tr>
                          <td><a href="/dashboard/company/{{ .CompanyID }}/show">{{.Name}}</a></td>
                          <td>
                            <a class="btn btn-default btn-show-company" href="/dashboard/company/{{ .CompanyID }}/show">View</a>
                            {{if .IsAdmin}}
                            <button class="btn btn-default btn-edit-company margin-l-5" data-id="{{ .CompanyID }}">Edit</button>
                            <button class="btn btn-danger btn-delete-company margin-l-5" data-id="{{ .CompanyID }}">Delete</button>
                            {{end}}
                          </td>
                        </tr>
                      {{end}}
                      {{end}}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
        <div class="modal fade" id="modal-create-edit-company" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-create-edit-company-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                {{ template "_company_form_html" .}}
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      </section>
      <!-- /.content -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-wrapper -->
    {{ template "footer_html" .}}
  </div>
  <!-- ./wrapper -->
  {{template "flash_html" .}}
</body>

<!-- Javascript -->
<script type="text/javascript" src="/assets/js/company/custom.company.js?{{.appVersion}}"></script>
</html>
{{end}}