{{define "_invitation_form_html"}}
<div class="text-center">
  <h1><i class="fa fa-question-circle" style="font-size: 72px; color:#d2d6de"></i></h1>
  <h3><span id="company-name-container"></span> has sent you a invitation request.</h3>
</div>
<form class="form-horizontal" id="respond-company-invitation-form" method="post">
    {{ .csrfField }}
    <input type="hidden" name="response" id="inputResponse">
    <div class="form-group">
      <div class="text-center">
        <button type="submit" id="btn-accept-invitation" class="btn btn-success margin-r-5">Accept</button>
        <button type="submit" id="btn-decline-invitation" class="btn btn-danger">Decline</button>
      </div>
    </div>
</form>
{{ end }}