{{define "_post_form_html"}}
<form class="form-horizontal row" id="create-edit-post-form" action="{{ $.url }}" method="post">
  {{ .csrfField }}
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <input type="hidden" name="postId" id="inputId" value="{{if $.post.ID }}{{ $.post.ID }}{{ end }}">
        <div class="form-group">
          <label for="inputTitle" class="col-sm-12">Title</label>
    
          <div class="col-sm-12">
            <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Title" value="{{if $.post.Title }}{{ $.post.Title }}{{ end }}" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="inputContent" class="col-sm-2">Content</label>
    
          <div class="col-sm-12">
            <textarea name="content" class="form-control" id="inputContent" placeholder="Content">{{if $.post.Content }}{{ $.post.Content }}{{ end }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .col-md-9 -->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="form-group">    
          <div class="col-sm-12">
            <select name="status" class="form-control" id="inputStatus">
              <option value="0">Draft</option>
              <option value="1">Schedule later</option>
              <option value="2">Publish now</option>
            </select>            
          </div>
        </div>
        <div id="input-scheduled-at-container" class="form-group">
          <div class="col-sm-12">
            <input type="text" name="scheduled_at" class="form-control" id="inputScheduledAt" value="{{if $.post.ScheduledAtString }}{{ $.post.ScheduledAtString }}{{ end }}">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-block btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .col-md-3 -->
</form>
{{ end }}