{{define "post_create_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {{ template "navbar_html" .}}
  
    {{ template "aside_html" .}}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>{{.title}}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              {{ template "_post_form_html" .}}
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
        
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{ template "footer_html" .}}
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  {{template "flash_html" .}}
</body>

<!-- Javascript -->
<script type="text/javascript" src="/assets/js/post/custom.post.js?{{.appVersion}}"></script>
</html>
{{end}}